#fonts
arial.ttf
arialbd.ttf
arialbi.ttf
ariali.ttf
ariblk.ttf

#bot
bot.pyc
tempCodeRunner.py
test.py

#keys
data.txt
temp.json
.env

#deployment
Procfile
fbkey.json

#images
gold.jpg
goldmeme.jpg
rishon.png
